body{
	background-color: #4cbb17;
	font-size: 40px;
	word-spacing: 6px;
}
form{
	background-color: #4f7942;
	font-size: 40px;
	margin: 80px;
	padding: 40px;
}
@media screen and (max-width: 300px){
	body{
		background-color: yellow;
	}
}