html{
	background-color: #95c8d8;
}
	body{
		font-size: 20px;
	word-spacing: 6px;
}
nav{
	display: flex;
	align-items: center;
	background-color: #4b3619;
}
.box{
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	z-index: 1;
	transition: 0.5s;
}
.box li{
	list-style-type: none;
}
.box li a{
	color: #4cbb17;
	text-decoration: none;
	display: block;
	padding: 30px 25px;
	font-size: 30px;
	line-height: 1;
	transition: 0.3s;
}
.box li a:hover{
	background-color: lightblue;
}
form{
	background-color: #73c2fb;
	font-size: 30px;
	margin: 40px;
	padding: 15px;
	width: 400px;
	height: 450px;
	position: relative;
	animation-name: asignment;
	animation-duration: 10s;
	animation-iteration-count: 2;
}
@keyframes asignment {
	0% {background-color: #ff69b4; left: 0px; top: 0px;}
	25% {background-color: #fca3b7; left: 200px; top: 0px; }
	50% {background-color: #008ecc; left: 300px; top:70px }
	75% { background-color: #ec5578; left: 0px; top: 70px; }
	100% {background-color: #f682b4; left: 0px; top: 0px;}
}

@media screen and (max-width: 400px){
    html{
		background-color: #ff66cc;
	}
    nav{
			padding: 5px 10px;
			background-color: skyblue;
		}
	    .box{
		    flex-direction: row;
		    top: 5px;
		    width: 260px;
		    height: 25%;
		    margin: 20px;
	}
	    .box li{
		    width: 100%
	}
	    .box li a{
	    	font-size: 20px;
	    	padding: 5px;
	    	color: white;
	    }
	    .box li a:hover{
	    	padding: 5px;	
	}
	form{
		background-color: #ff69b4;
		font-size: 20px;
		margin: 25px;
		padding: 5px;
		width: 320px;
		height: 340px;
		position: relative;
		animation-name: asignment;
	    animation-duration: 10s;
	    animation-iteration-count: 2;
	}
	@keyframes asignment {
	0% {background-color: #ff69b4; left: 0px; top: 0px;}
	25% {background-color: #f3c2fb; left: 15px; top: 0px; }
	50% {background-color: #af69ee; left: 15px; top:30px }
	75% { background-color: #e4adf7; left: 0px; top: 30px; }
	100% {background-color: #95c8d8; left: 0px; top: 0px;}
}
}