body{
	background-image: url("hi.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	font-size: 30px;
	word-spacing: 6px;
}
#grid-container {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	background-color: #544c4a;
	padding: 10px;
	margin: 80px;
	
	position: relative;
}
#grid-container > div{
	background-color: #d9dddc;
	text-align: center;
	padding: 80px;
	font-size: 25px;
	
}
img{
	width: 100px;
	height: 100px;
}
h1{
	text-align: center;
	font-color: red;
	text-shadow:0 0 15px green,0 0 20px forestgreen;
	transform: skew(25deg,20deg);
}
@media screen and (max-width: 300px){
	body{
		background-color: pink;
	}
}