body{
	background-image: url("hi.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	font-size: 30px;
	word-spacing: 6px;
}
#grid-container {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 15px;
	background-color: #8e6b85;
	padding: 15px;
	margin: 150px;
	
	position: relative;
	animation-name: asignment;
	animation-duration: 10s;
}
@keyframes asignment {
	0% {background-color: #8e6b85; left: 0px; top: 0px;}
	25% {background-color: purple; left: 100px; top: 0px; }
	50% {background-color: black; left: 100px; top:100px }
	75% { background: blue; left: 0px; top: 100px; }
	100% {background-color: grey; left: 0px; top: 0px;}
} 
#grid-container > div{
	background-color: #ad93a6;
	text-align: center;
	padding: 8px;
	font-size: 25px;
	
}
img{
	width: 100px;
	height: 100px;
}
h1{
	text-align: center;
	font-color: red;
	text-shadow:0 0 15px green,0 0 20px forestgreen;
	transform: skew(25deg,20deg);
}
@media screen and (max-width: 300px){
	body{
		background-color: pink;
	}
}