body{
	background-color: black;
	word-spacing: 6px;
	color: white;
}
nav{
	display: flex;
	background-color: #f20738;
}
.box{
	display: flex;
}
.box li{
	list-style-type: none;
}
.box li a{
	text-decoration: none;
	display: block;
	padding: 15px 10px;
	font-size: 30px;
}
.box li a:hover{
	background-color: black;
}
h1,
h2,
h3{
	color: pink;
	font-size: 35px;
}
li{
	color: green;
	font-size: 25px;	
}
p{
color: green;
	font-size: 25px;		
}
.hamburger,
.hamburgericn1,
.hamburgericn,
.hamburgericn2{
	width: 15px;
	height: 3px;
	background: black;
	border-radius: 10px;
	cursor: pointer;
	margin: 1px;
} 	
.toogle{
	z-index: 3;
	cursor: pointer;
}
.hamburger,
.toogle{
	display: none;
}
input{
	opacity: 0;
	margin-right: -20px;
}
input:checked ~ .hamburger{
	background: transparent;
}
input:checked ~ .hamburger{
	top: 0;
	transform: rotate(45deg);	
	
}
input:checked ~ .box{
	left: 0;
	background-color: black;
	width: 110px;
}
@media screen and (max-width: 400px){
	.hamburger,
    .toggle {
           display: block;	
    }
	html{
		background-color: black;
	}
	nav{
			padding: 5px 10px;
		}
	    .box{
		    justify-content: left;
		    flex-direction: column;
		    position: fixed;
		    top: 20px;
		    left: -400px;
		    width: 350px;
		    height: 30%;
	}
	    .box li{
		    width: 100%
	}
	    .box li a{
	    	font-size: 25px;
	    	padding: 5px;
	    	color: green;
	    }
	    .box li a:hover{
	    	padding: 5px;
	}
	h1,
    h2,
    h3{
	    color: pink;
	    font-size: 40px;
    }

    p{
	    color: green;
	    font-size: 15px;
    }
}